extends layout

block content
  #temperature
  button#up up
  button#down down
  button#reset reset
  input#powersaver(type='checkbox',checked)
  'Power Save On'
  p The temperature in
    span#location
    |  is
    span#locationTemp
    |  degrees C.
