extends layout

block content
  //h1= title
  //p Welcome to #{title}
  #temperature
  button#up up
  button#down down
  button#reset reset
  input#powersaver(type='checkbox',checked)
  'Power Save On'
  p the temperature in
    span#location
    is
    span#locationTemp
    degrees C.
