extends layout

block content
  h2#temperature
  button#up up
  button#down down
  button#reset reset
  input#powersaver(type='checkbox',checked)
  | Power Save On
  br
  p The temperature in
    span#location
    |  is
    span#locationTemp
    |  degrees C.
  br
  a(href='/test') Test
